@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');
:root{
    --sans:"Open Sans", sans-serif;
    --black:#000;
    --red:#f60303;
    --white:#fff;
    --grey:#c1c1c1;
    --lightgrey:#f1f1f1;
}

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.container{
    max-width: 1440px;
    margin:auto;
}

h1,h2{
    font-family: var(--sans);
    font-size: 22px;
    font-weight: 700;
    color: var(--black);
}

h3{
    font-family: var(--sans);
    font-size: 16px;
    font-weight: 700;
    color: var(--black);
}

p{
    font-family: var(--sans);
    font-size: 16px;
    font-weight: 400;
    color: var(--black);
}

a{
    font-family: var(--sans);
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    color: var(--black);
}

a:hover{
    color: var(--red);
    transition: all 0.2s ease;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 0px 15px 0px 15px;
}

header img{
    width: 180px;
    padding: 10px 0px 15px 0px;

}
header nav ul{
    display: flex;
    list-style: none;
    padding: 51px 15px 0px 15px;
    gap: 50px;
}

header nav ul li a{
    color:var(--black);
    padding: 0px 15px 0px 15px;
}

header nav ul li a:hover{
    border-top: 1px var(--red) solid;
    padding: 50px 15px 0px 15px;
}

section{
    margin-bottom: 25px;
}

section:nth-child(1){
    padding-left: 15px;
    gap: 40px;
    display: flex;
    flex-direction: column;
}

section:nth-child(1) h1{
    margin-top: 40px;
}

section:nth-child(1) form input{
    border: 1px solid var(--grey);
    padding: 6px 0px 6px 0px;
    margin: -5px;
    outline: none;
}

section:nth-child(1) form i{
    color: var(--white);
    background-color: var(--red);
    border-radius: 7px 0px 0px 7px;
    padding: 6px 15px 7px 15px;
    border: 0px solid var(--grey);
    font-size: 16px;
    font-weight: 900;
    line-height: 16px;
    text-align: left;

}

section:nth-child(1) form button{
    border: 0px solid var(--grey);
    border-radius: 0px 7px 7px 0px;
    padding: 6px 15px 6px 15px;
    background-color: var(--red);
    color: var(--white);
    cursor: pointer;
}

section:nth-child(1) article{
    display: flex;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
} 

section:nth-child(1) article a{
    border: 1px solid var(--red);
    border-radius: 12px;
    text-decoration: none;
    color: black;
    padding: 10px 22px 10px 22px;
    transition: all 0.2s;
    background-color: var(--white);
} 

section:nth-child(1) article i{
    transition: all 0.2s;
    color: var(--red);
}

section:nth-child(1) article a:hover i{
    color: var(--white);
    background:var(--red);
    transition: all 0.2s;
}

section:nth-child(1) article a:hover{
    color: var(--white);
    background:var(--red);
    transition: all 0.2s;
}

.fa-circle-info{
    color: var(--red)
}

section:nth-child(2){
    padding: 0px 15px 0px 15px;
    gap: 40px;
    display: flex;
}

#Accomodations-list{
    border-radius: 12px;
    padding: 40px;
    background-color: var(--lightgrey);
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex: 2;
}

#Accomodations-list > div{
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--lightgrey);
    gap: 20px;
}

#Accomodations-list > div > a{
    flex: 1 0 30%;
    box-shadow: rgba(193, 193, 193, 1) 0px 7px 29px 0px;
    border-radius: 12px 12px 12px 12px;
    background-color: var(--white);
}

#Accomodations-list > div > a > article{
    background-color: var(--white);
    border-radius: 12px;
    padding: 4px;
    position: relative;
    box-shadow: 0px 2px 15px var(--grey);
    overflow: hidden;
}

section:nth-child(2) .recommended::after{
    content:"Recommended";
    position: absolute;
    top: 10px;
    right: 12px;
    background-color: var(--red);
    color: var(--white);
    padding: 5px;
    border-radius: 4px;
    font-size: 13px;
}

#Accomodations-list > div > a > article > img{
    border-radius: 12px 12px 0px 0px;
    width: 100%;
    height: 160px;
    object-fit: cover;
    transition:all 0.2s ease-in-out;
}

#Accomodations-list > div > a > article > img:hover{
    transform:scale(1.02);
    filter: grayscale();
    transition:all 0.2s ease-in-out;
}

#Accomodations-list > div > a > article > article > div:first-child{
    padding: 0px 0px 0px 8px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#Accomodations-list > div > a > article > article > div:last-child{
    padding: 15px 0px 0px 8px;
    color: var(--red);
    display: flex;
    gap: 6px;
    font-size: 15px;
    font-weight: 900px;
    line-height: 15px;
}

#Accomodations-list > a{
    font-size: 18px;
    font-weight: 700;
}

#Accomodations-list > div > a > article > article > div:last-child > i:last-child{
    color: var(--grey);
}

section:nth-child(2) > aside{
    border-radius: 12px;
    padding: 40px;
    background-color: var(--lightgrey);
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex: 1;
}

section:nth-child(2) > aside > article{
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--lightgrey);
    gap: 20px;
}

section:nth-child(2) > aside > a{
    box-shadow: rgba(193, 193, 193, 1) 0px 7px 29px 0px;
    border-radius: 12px 12px 12px 12px;
    background-color: var(--white);
}

section:nth-child(2) > aside > a > div{
    background-color: var(--white);
    border-radius: 12px;
    padding: 4px;
    position: relative;
    box-shadow: 0px 2px 15px var(--grey);
    overflow: hidden;
    display: flex;
}

section:nth-child(2) .popular::after{
    content:"Popular";
    position: absolute;
    top: 10px;
    left: 12px;
    background-color: var(--red);
    color: var(--white);
    padding: 5px;
    border-radius: 4px;
    font-size: 13px;
}

section:nth-child(2) > aside > a > div > img{
    border-radius: 12px 0px 0px 12px;
    width: 35%;
    height: 160px;
    object-fit: cover;
    transition:all 0.2s ease-in-out;
}

section:nth-child(2) > aside > a > div > img:hover{
    transform:scale(1.02);
    filter: grayscale();
    transition:all 0.2s ease-in-out;
}
section:nth-child(2) > aside > a > div > article{
    padding: 8px 8px 0px 8px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

section:nth-child(2) > aside > a > div > article > h3,
section:nth-child(2) > aside > a > div > article > p{
    padding: 0px 0px 0px 8px;
}

section:nth-child(2) > aside > a > div > article > div:last-child{
    padding: 15px 0px 0px 8px;
    color: var(--red);
    display: flex;
    gap: 6px;
    font-size: 15px;
    font-weight: 900px;
    line-height: 15px;
}

section:nth-child(2) > aside > a > div > article > div:last-child > i:last-child{
    color: var(--grey);
}

section:nth-child(3){
    display: flex;
    flex-direction: column;
    padding: 0px 15px 0px 15px;
    gap: 40px;
}

section:nth-child(3) > div{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

section:nth-child(3) > div > a{
    padding: 0px 0px 12px 0px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 100px 0px;
    color: var(--white);
    flex:1 0 20%;
}

section:nth-child(3) > div > a > article{
    gap: 17px;
    display: flex;
    flex-direction: column;
}

section:nth-child(3) > div > a > article > img{
    height: 380px;
    object-fit: cover;
    width: 100%;
    overflow: hidden;
    border-radius: 12px 12px 0px 0px;
    transition:all 0.2s ease-in-out;
}

section:nth-child(3) > div > a > article > img:hover{
    transform:scale(1.02);
    filter: grayscale();
    transition:all 0.2s ease-in-out;
}

section:nth-child(3) > div > a > article > h3{
    text-align: center;
}

footer p{
    text-align: center;
    margin: 20px;
}

footer div{
    display: flex;
    background-color: var(--lightgrey);
    border-radius: 12px 12px 0px 0px;
    padding: 40px;
    margin: 20px;
}

footer article{
    flex: 1;
}

footer ul{
    padding: 0px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

footer h2{
    margin-bottom: 20px;
    font-size:18px;
}


footer a:hover{
    color: var(--red);
    transition: all 0.3s;
}

@media screen and (max-width: 1024px){
    section:nth-child(2) {
        flex-direction: column;
    }
    
    section:nth-child(3) > div > a{
        flex:1 0 40%;
    }
    section:nth-child(2) > div > article > a{
        flex: 1 0 40%;
    }
    section:nth-child(2) > aside{
        margin-top: 20px;
    }
}

@media screen and (max-width: 767px){
    header{
        flex-direction: column;
        align-items: center;
    }
    header nav ul{
        display: flex;
        list-style: none;
        padding: 0px 0px 0px 0px;
        gap: 0px;
    }
    
    header nav ul li a{
        color:var(--black);
        border-bottom: 1px var(--grey) solid;
        border-top: 0px;
        /* border: 0px 0px 1px 0px var(--grey) solid; */
        padding: 0px 50px 0px 50px;
    }
    
    header nav ul li a:hover{
        /* border-bottom: 0px 0px 1px 0px var(--red) solid; */
        border-bottom: 1px var(--red) solid;
        border-top: 0px;
        padding: 0px 50px 0px 50px;
    }
    section:nth-child(2) {
        flex-direction: column-reverse;
    }
    section:nth-child(2) > div > article > a{
        flex: 1 0 100%;
    }
    section:nth-child(3) > div > a{
        flex:1 0 100%;
    }
    footer div {
        flex-direction: column;
        gap: 40px;
    }
}